<div class="container">
  <header class="header">
    <div class="container-links">
      <a href="" class="logo">Filmoteka</a>
      <ul class="link-list">
        <li class="link-item"><a href="" class="link-header">Home</a></li>
        <li class="link-item"><a href="" class="link-header">Library</a></li>
      </ul>
    </div>

    <form class="search-form" id="search-form">
      <input
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Search images..."
      />
      <button type="submit" class="search btn btn-primary">Search</button>
    </form>
  </header>

  <main>
    <ul class="card-list"></ul>
  </main>
</div>
